<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Pathology Lab</title>
    <link rel="stylesheet" href={{url_for('static',filename='style1.css')}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  </head>
  <body>
    <section>
      <input type="checkbox" id="check">
      <header>
        </div>
        <h2><a href="#" class="logo">AI Pathology Lab</a></h2>
        <div class="navigation">
          <a href="#">Home</a>
          <a href="/diabetes">Diabetes</a>
          <a href="/liver">Liver Disease</a>
          <a href="/heart">Heart</a>
        </div> 
        <label for="check">
        <i class="fas fa-bars menu-btn"></i>
        <i class="fas fa-times close-btn"></i>
        </label>
      </header>
      <div class="content" style="margin-top: 8%;">
        <div class="info">
          <h2>AI Lab <br><span>AI Pathology</span></h2>
          <p>Access to quality healthcare and doctors has always been a concern in developing countries and remote areas. To deal with such issues, this healthcare web application is developed. Healthcare data was fed to machine learning training models and engines for predictive modeling.</p>
          <a href="#about" class="info-btn">More info</a>
        </div>
      </div>
      <div class="media-icons">
        <a href="https://www.linkedin.com/in/morshedul-islam-b299581b7/"><i class="fab fa-linkedin"></i></a>
        <a href="wwww.github.com/RiaadMorshed"><i class="fab fa-github"></i></a>
      </div>
    </section>

    <section id="about">
      <h2>About AI Pathology Lab</h2>
      <p class="about-content" style="text-align: center;">Access to quality healthcare and doctors has always been a concern in developing countries and remote areas. To deal with such issues, this healthcare web application is developed. Healthcare data was fed to machine learning training models and engines for predictive modeling. The accuracy of these models is directly proportional to the training they get. These models will be able to predict the potential health risks to a patient a lot earlier so that they could take the preventive measures and live a long healthy life. 
      <p>This project is an end to end data science project that is able to predict the chances of getting a disease in organs like liver, kidney, heart, etc.  </p>
      </p>
    </section>

    <section id="dashboard">
      <h2>Technology I used</h2>
      <div>
        <ul>
          <hr>
          <li>Logistic Regression</li>
          <li>K Nearest neighbors</li>
          <li>Support Vector Classifier</li>
          <li>Naive Bayes</li>
          <li>Decision tree</li>
          <li>HTML , CSS</li>
          <li>Random Forest</li>
          <hr>
          <li>scikit learn</li>
          <li>Joblib/pickle</li>
          <li>Pandas</li>
          <li>Numpy</li>
          <li>Bootstrap</li>
          <li>HTML , CSS</li>
          <li>flask</li>
          <hr>
        <ul>
    </section>
    
    <section id="info">
      <div>
        <img src="../static/morshed.jpg" alt="Morshed">
      </div>
      <div>
        <h2>Developer</h2>
        <p class="about-content"> Hi, I'm Morshed, a Data Scientist 🚀 from Bangladesh. 
          Currently, I'm learning ML, DL, CV & NLP. I have an experience with problems solving. Now currently I am trying
          to do some self - paced projects in data science like Rainy Brain, Smart Attendance System. Always curious to learn something new in
          the field of Data Science. Beside's programming, I enjoy playing games and watching youtube. 
          Below I have given my social media links. Happy to have new connections.</p>
      </div>
    </section>

    <footer>
      <p>
        Developed with ❤️ by Morshed
      </p> 
      <div class="media-icons">
        <a href="https://www.linkedin.com/in/morshedul-islam-b299581b7/"><i class="fab fa-linkedin"></i></a>
        <a href="wwww.github.com/RiaadMorshed"><i class="fab fa-github"></i></a>
      </div>
    </footer>

  </body>
</html>
